#AcrScr {
	height: 753px;
	width: 477px;
}

* {
	font-family: Ubuntu Mono, serif;
	color: white;
}

h1, #click, .Progname, p, .list, h2, #mail {
		text-shadow: #5c1657 1px 1px 0px,
				 #5c1657 -1px -1px 0px,
				 #5c1657 -1px 1px 0px,
				 #5c1657 1px -1px 0px;
}

#phoneinfo {
	text-decoration: underline;
	text-align: center;
	font-size: 25px;
}

h1 {
	text-align: center;
	font-size: 60px;
}

ol, li, p {
	text-align: left;
	font-size: 25px;
}

h2 {
	text-align: center;
	font-size: 50px;
}

img {
    display: block;
    margin: 0 auto;
    padding-bottom: 15px;
}

img:hover {
	opacity: 0.8;
}

ol {
	text-align: center;
}

.Progname {
	border-top: 3px solid white;
	padding-top: 10px;
	text-align: center;
}

#list {
	margin: 0;
	padding-left: 0;
}

#yticon, #fbicon, #fbmsicon, #gmicon, #vbicon, #glmpicon, #shicon {
	border-radius: 20%;
}

#mail {
	text-decoration: none;
	font-size: 28px;
}

#mail:hover {
	opacity: 0.6;
}

#mail:active {
	color: #5c1657;
}

#logo {
	height: 500px;
	width: 500px;
	margin: auto;
}

video { 
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    transform: translateX(-50%) translateY(-50%);
 	background-size: cover;
  	transition: 1s opacity;
}