#s1:hover {
	opacity: 0.8;
}

#s1 {
	padding-left: 500px;
	width: 400.5px;
	height: 623.5px;
}

#vkmax {
	text-align: center;
	color: white;
}

* {
	font-family: Coming Soon;
}

body {
	background-color: black;
}

p {
	color: white;
	font-size: 100px;
}

a {
	color: white;
	text-decoration: none;
}

a:hover {
	color: blue;
}

#g0 {
	height: 320px;
	width: 428.8px;
}

#g3 {
	position: absolute;
	right: 0px;
	height: 241.65px;
	width: 486px;
}

#g4 {
	position: absolute;
	left: 450px;
}